{% extends "base.html" %} {% block title %}Register Your Car - Sign Up{% endblock%} {% block content %}
<div class="container mx-auto col-lg-4">
    <!-- Portfolio Section Heading-->
    <div class="text-center">
        <h2 class="masthead-heading mb-0">SIGN UP</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Sign up form -->
    <form method="POST">
        <div class="form-floating mb-3">
            <label for="email_address">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Email Address</p>
            </label>
            <input type="email" class="form-control" id="email_address" name="email_address" placeholder="Enter email address" />
        </div>
        <div class="form-floating mb-3">
            <label for="full_name">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Full Name</p>
                 </label>
            <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Enter full name" />
        </div>
        <div class="form-floating mb-3">
            <label for="username">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Username</p>
                 </label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" />
        </div>
        <div class="form-floating mb-3">
            <label for="password1">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Password</p>
                 </label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
        </div>
        <div class="form-floating mb-3">
            <label for="password2">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Confirm Password</p>
                 </label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
        </div>
        <br />
        <button type="submit" class="btn btn-secondary">
                  <p class="pre-wrap masthead-subheading font-weight-light mb-0">Sign Up</p>
              </button>
    </form>
</div>
{% endblock %}